.card{
    width: 250px;
    height: 100%;
    border-radius: 5px;
    border: 2px solid black;
}

.profile {
    width: 250px;
    height: 250px;
}

h2, p , h4{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}