.card{
    width: 250px;
    height: 500px;
    border-radius: 5px;
    border: 2px solid black;
}

.profile {
    width: 100%;
}

h2, p {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}